<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:mysql://ecs.SilentTT.top:3306/exam?useUnicode=true&amp;characterEncoding=utf-8&amp;autoReconnect=true"> </property>
		<property name="username" value="root"></property>
		<property name="password" value="a132132"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>exam/ex/Allexam.hbm.xml</value>
				<value>exam/ex/Exam.hbm.xml</value>
				<value>exam/ex/Nowexam.hbm.xml</value>
				<value>exam/ex/Score.hbm.xml</value>
				<value>exam/ex/Exque.hbm.xml</value>
				<value>exam/ex/Question.hbm.xml</value>
				<value>exam/ex/User.hbm.xml</value>
				<value>exam/ex/Seuview.hbm.xml</value></list>
		</property></bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="LoginAction" class="exam.action.LoginAction"  scope="prototype">
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
	</bean>
	<bean id="RigAction" class="exam.action.RigAction"  scope="prototype">
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
	</bean>
	<bean id="ExamAction" class="exam.action.ExamAction"  scope="prototype">
		<property name="nowexamDAO">
			<ref bean="NowexamDAO" />
		</property>
		<property name="scoreDAO">
			<ref bean="ScoreDAO" />
		</property>
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
		<property name="examDAO">
			<ref bean="ExamDAO" />
		</property>
	</bean>
	<bean id="testAction" class="exam.action.testAction"  scope="prototype">
		<property name="allexamDAO">
			<ref bean="AllexamDAO" />
		</property>
		<property name="nowexamDAO">
			<ref bean="NowexamDAO" />
		</property>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="exqueDAO">
			<ref bean="ExqueDAO" />
		</property>
		<property name="examDAO">
			<ref bean="ExamDAO" />
		</property>
		<property name="questionDAO">
			<ref bean="QuestionDAO" />
		</property>
	</bean>
	<bean id="JudgeAction" class="exam.action.JudgeAction"  scope="prototype">
		<property name="questionDAO">
			<ref bean="QuestionDAO" />
		</property>
		<property name="scoreDAO">
			<ref bean="ScoreDAO" />
		</property>
		<property name="examDAO">
			<ref bean="ExamDAO" />
		</property>
	</bean>
	<bean id="ScoreAction" class="exam.action.ScoreAction"  scope="prototype">
		<property name="seuviewDAO">
			<ref bean="SeuviewDAO" />
		</property>
	</bean>
	<bean id="UserInfoAction" class="exam.action.UserInfoAction"  scope="prototype">
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
	</bean>
	<bean id="QuestionAction" class="exam.action.QuestionAction"  scope="prototype">
		<property name="questionDAO">
			<ref bean="QuestionDAO" />
		</property>
	</bean>
	<bean id="UserAction" class="exam.action.UserAction"  scope="prototype">
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
	</bean>
	<bean
		id="UserDAO" class="exam.ex.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AllexamDAO" class="exam.ex.AllexamDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ExamDAO" class="exam.ex.ExamDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="NowexamDAO" class="exam.ex.NowexamDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ExqueDAO" class="exam.ex.ExqueDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="QuestionDAO" class="exam.ex.QuestionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ScoreDAO" class="exam.ex.ScoreDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SeuviewDAO" class="exam.ex.SeuviewDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>